---
import Title from "../components/Title.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Footer from "../components/Footer.astro";

---

<BaseLayout>
  <div class="bg-background-light pt-[40px] pb-[40px] pr-[16px] pl-[16px] md:pt-[80px] md:pb-[80px] md:pr-[160px] md:pl-[160px] text-body-dark">
    <Title title="Legal Notice" className="mb-[40px] md:mb-[80px]" />
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">Information pursuant to § 5 TMG</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">GoodIP GmbH</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Severinstr. 3a</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">D-81541 München</div>
      </div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Handelsregister: HRB 234688</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Registration court: Munich</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Represented by the shareholders:Dr. Bastian July</div>
      </div>
    </div>
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">Contact</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Phone:</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">+49 89 3078 1244</div>
      </div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">E-mail: </div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">info@goodip.io</div>
      </div>
    </div>
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">VAT ID</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Sales tax identification number according to §27a of the Sales Tax Law:</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">DE313664837</div>
      </div>
    </div>
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">Responsible for the content according to § 55(2) RStV</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Dr. Bastian July</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Severinstr. 3a</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">D-81541 München</div>
      </div>
    </div>
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">Liability for Contents</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1 German Telemedia Act (TMG). However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.</div>
      </div>
    </div>
    <div class="mb-[40px] ">
      <div class="text-body-dark font-semibold text-[28px]">Liability for Links</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Our offer includes links to external third party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we get knowledge of them.</div>
      </div>
    </div>
    <div class="">
      <div class="text-body-dark font-semibold text-[28px]">Copyright</div>
      <div class="mt-[24px]">
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only. The commercial use of our contents without permission of the originator is prohibited.</div>
        <div class="text-blue-2 leading-[30px] text-[18px] font-normal">Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.</div>
      </div>
    </div>
  </div>
  <Footer />
</BaseLayout>
