---
import CalendlyButton from "./CalendlyButton";
import greenBackgroundImage from "../images/green-background-2.png";
const origin = Astro.url.origin;
const className = Astro.props.className || ''; 
const textClassName = Astro.props.textClassName || '';
---

<div
    class={`w-full h-[375px] h-[630px] md:h-[470px] p-[40px] md:p-[80px] repeat-bg flex flex-col items-center justify-center text-center ${className}`}
    style={{ 'background-image': `url(${origin}${greenBackgroundImage.src})`}}
  >
  <div class={`mb-[56px] text-turqoise-1 font-extrabold text-[45px] md:text-[69px] leading-[45px] md:leading-[69px] ${textClassName}`}>Let’s talk how we can help you.</div>
  <CalendlyButton client:only="react" />
</div>